.box {
    width: 20px;
    height: 100%;
    border: 1px solid gray;
    transition: background-color 0.3s;
}

.adjustBoxSizeClass {
    width: 10px;
    height: 10px;
}

.livingBlackColor {
    background-color: #333;
}

.deadWhiteColor {
    background-color: white;
}

button {
    background: none;
    border: none;
    border: 1px solid gray;
    color: inherit;
    font: inherit;
    padding: 0;
    cursor: pointer;
}


.box-button {
    /* background: none; */
    /* border: none; */
    border: 1px solid gray;
    color: inherit;
    font: inherit;
    padding: 0;
    cursor: pointer;
}