/* .box {
    width: 20px;
    height: 100%;
    border: 1px solid gray;
    transition: background-color 0.3s;
} */

.box {
    /* the var in the CSS is a gloabl state */
    width: var(--box-width);
    height: var(--box-height);
    border: 1px solid gray;
    transition: background-color 0.3s;
}

.adjustBoxSizeClass {
    width: 10px;
    height: 10px;
}

.livingBlackColor {
    background-color: #333;
}

.deadWhiteColor {
    background-color: white;
}

button {
    background: none;
    border: none;
    border: 1px solid gray;
    color: inherit;
    font: inherit;
    padding: 0;
    cursor: pointer;
}


.box-button {
    border: 1px solid gray;
    color: inherit;
    font: inherit;
    padding: 0;
    cursor: pointer;
}


.age-0 {
    background-color: red;
}

.age-1 {
    background-color: #fca103;
}

.age-2 {
    background-color: #fcd303;
}

.age-3 {
    background-color: #c6fc03;
}

.age-4 {
    background-color: #03fcc2;
}

.age-5 {
    background-color: green;
}

.age-6 {
    background-color: skyblue;
}

.age-7 {
    background-color: blue;
}

.age-8 {
    background-color: darkblue;
}

.age-9 {
    background-color: purple;
}

.age-10 {
    background-color: navy;
}