/* .box {
    width: 20px;
    height: 100%;
    border: 1px solid gray;
    transition: background-color 0.3s;
} */

.box {
    /* the var in the CSS is a gloabl state */
    width: var(--box-width);
    height: var(--box-height);
    border: 1px solid gray;
    transition: background-color 0.3s;
}

.adjustBoxSizeClass {
    width: 10px;
    height: 10px;
}

.livingBlackColor {
    background-color: #333;
}

.deadWhiteColor {
    background-color: white;
}

button {
    background: none;
    border: none;
    border: 1px solid gray;
    color: inherit;
    font: inherit;
    padding: 0;
    cursor: pointer;
}


.box-button {
    /* background: none; */
    /* border: none; */
    border: 1px solid gray;
    color: inherit;
    font: inherit;
    padding: 0;
    cursor: pointer;
}

/* Alive color at age 0 */
.cell-age-0 {
    background: linear-gradient(0deg, rgba(0, 255, 0, 1) 0%, rgba(0, 255, 0, 1) 100%);
}

/* Example gradients for ages 1 to 9 */
.cell-age-1 {
    background: linear-gradient(0deg, rgba(0, 255, 0, 1) 90%, rgba(225, 0, 0, 1) 10%);
}

.cell-age-2 {
    background: linear-gradient(0deg, rgba(0, 255, 0, 1) 80%, rgba(225, 0, 0, 1) 20%);
}

.cell-age-3 {
    background: linear-gradient(0deg, rgba(0, 255, 0, 1) 70%, rgba(225, 0, 0, 1) 30%);
}

/* Continue for ages 4 through 8 */
.cell-age-9 {
    background: linear-gradient(0deg, rgba(0, 255, 0, 1) 10%, rgba(225, 0, 0, 1) 90%);
}

/* Dead color at age 10 or more */
.cell-age-max {
    background: linear-gradient(0deg, rgba(225, 0, 0, 1) 0%, rgba(225, 0, 0, 1) 100%);
}

/*
.cell-age-0 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.cell-age-1 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 90%, rgba(255, 255, 255, 1) 10%);
}

.cell-age-2 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 80%, rgba(255, 255, 255, 1) 20%);
}

.cell-age-3 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 70%, rgba(255, 255, 255, 1) 30%);
}

.cell-age-9 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 10%, rgba(255, 255, 255, 1) 90%);
}

.cell-age-max {
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

*/


/* styles.css */
.age-0 {
    background-color: red;
}

.age-1 {
    background-color: #fca103;
}

/* Example for a gradual transition */
.age-2 {
    background-color: #fcd303;
}

.age-3 {
    background-color: #c6fc03;
}

.age-4 {
    background-color: #03fcc2;
}

.age-5 {
    background-color: green;
}

.age-6 {
    background-color: skyblue;
}

.age-7 {
    background-color: blue;
}

.age-8 {
    background-color: darkblue;
}

.age-9 {
    background-color: purple;
}

.age-10 {
    background-color: navy;
}

/* For age 10 and beyond */