body,
html {
    height: 100%;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content {
    flex-grow: 1;
    /* Takes up remaining space */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* overflow-y: auto; */
    /* Enables vertical scrolling */
    padding-top: 0.01vh;
    /* Adjust based on the navbar's height */
    margin-top: 0.01vh;
}

.part {
    /* flex-grow: 1; */
    display: flex;
    flex-direction: column;
    flex: 1;
    /* Make parts take equal space in the .content container */
}

.part2 {
    /* flex-grow: 1; */
    display: flex;
    flex-direction: column;
    flex: 2;
    /* Make parts take equal space in the .content container */
    flex-wrap: wrap;
    /* Allows boxes to wrap to the next line/column */
}



.grid-background {
    background-color: #e0e0e0;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    /* grid-template-rows: repeat(auto-fill, minmax(var(--rows), 1fr));
    grid-template-columns: repeat(var(--cols), 1fr); */
    grid-template-rows: repeat(var(--rows), minmax(min-content, 1fr));
    grid-template-columns: repeat(var(--cols), minmax(min-content, 1fr));
    max-height: 600px;
    max-width: 800px;
    /* overflow-y: auto; */
    /* Makes grid scrollable if it exceeds max-height */
}

.form-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    gap: 5px;
    margin-top: 10px;
}

.form-container p {
    font-size: 1rem;
    margin-bottom: 0.2rem;
    color: #333;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.3rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control-bottom {
    width: 100%;
    padding: 0.3rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #f9f9f9;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

#grid-button {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;

}

#grid-button:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;

}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

/* .grid-count-heatmap-container {
    display: block;
    justify-content: center;
    align-items: center;
} */